# vi: ft=yaml

AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: Empty
BreakBeforeBraces: Allman
IncludeBlocks: Regroup
IndentWidth: 8
UseTab: Always
TabWidth: 8
BasedOnStyle: Google
